body {
    background: linear-gradient(to bottom, #ff9d00, #FFA500, #f5f3f0);
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh; /* Preencher a altura da janela de visualização */
}

#Canvas {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px; 
    border-top-right-radius: 30px; 
    border-bottom-right-radius: 30px; 
    border: 2px solid black;
    display: block;
    margin: 0 auto;
}
